@media (min-width: 1280px) {
.homepage-wrapper {
    display:grid;
    grid-template-columns: 1fr;

    .filter-links {
	display: flex;
	justify-content: space-around;

	.btn {
	    width: 100%;
	}
    }
}
}
@media(max-width:1279px) {
    .homepage-wrapper {
	display: flex;
	flex-direction: column;
	
    }
}
